apiVersion: v1
kind: Service
metadata:
  name: prometheus-grafana
  namespace: lens-metrics
spec:
  ports:
  - port: 9090
    protocol: TCP
    targetPort: 9090
    nodePort: 30090
  selector:
    name: prometheus
  type: NodePort