apiVersion: apps/v1
kind: Deployment
metadata:
  name: mission
  labels:
    app: mission
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mission
  template:
    metadata:
      labels:
        app: mission
    spec:
      restartPolicy: Always
      containers:
        - image: mission:v1
          name: mission
          imagePullPolicy: IfNotPresent
          env:
            - name: APP_ENV
              value: ""
            - name: APP_NAME
              value: ""
            - name: APOLLO_CONFIG_SERVER
              value: "http://apolloxxx.development:8080"
            - name: APOLLO_CLUSTER
              value: "dev"
            - name: APOLLO_APP_ID
              value: "mission"
            - name: APOLLO_NAMESPACES
              value: "application"
            - name: APOLLO_SAVE_PATH
              value: ""
          resources:
           limits:
             cpu: 100m
             memory: 200Mi
           requests:
             cpu: 100m
             memory: 200Mi
        - image: redis:latest
          name: redis
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: 512Mi
              cpu: "1"
            requests:
              memory: 256Mi
              cpu: "0.2"