apiVersion: v1
kind: Service
metadata:
  name: httptest
  namespace: dev
spec:
  ports:
  - port: 8000
    protocol: TCP
    targetPort: 8000
    nodePort: 30080
  selector:
    app: httptest
  type: NodePort