apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: lens-metrics
spec:
  ports:
  - port: 3000
    protocol: TCP
    targetPort: 3000
    nodePort: 30030
  selector:
    app: grafana
  type: NodePort